@media (min-width: 576px) {
    /* For screens with a minimum width of 576px (e.g., tablets) */
    box1 {
      width: 200px;
      height:200px;
    }
    box2{
        width: 200px;
        height:200px;
    }
    
  }

  @media (min-width: 992px) {
    /* For screens with a minimum width of 992px (e.g., laptops and desktops) */
    box1 {
        width: 500px;
        height:400px;
      }
      box2{
          width: 500px;
          height:400px;
      }
  }